:root {
  --white: #fff;
  --whitetranslusent: #d7ccc0;
  --light: #f5f4f0;
  --main-color: #fe8a02;
  --main-dark-color: #42413c;
  --dark-color: #2a2626;
  --dark-translucent: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-VariableFont_wdth\,wght.ttf");
  }
  
  @font-face {
    font-family: Neucha;
    src: url("../fonts/Neucha-Regular.ttf");
  }

body {
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 1.6em;
    color: var(--dark-color);
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: Neucha;
    line-height: 1.2em;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 34px;
}

main {
    width: 1110px;
    text-align: center;
    padding: 100px 0;
}